<p style="color: black">Cerca qua l'utente:</p>
<input [(ngModel)]="userSearched">
<button (click)="findUserLike()">CERCA</button>
<button (click)="removeFilter()">RIMUOVI FILTRO</button>
<br><br>
<div class="found_users">
    <p style="color: black">Utenti trovati:</p>
    <table class="table table-bordered">
        <thead class="table-bordered">
            <tr style="color: rgba(63, 63, 54, 0.85);">
                <th scope="col">Nome utente: </th>
                <th scope="col">Panni in lavanderia: </th>
                <th scope="col"> </th>
                <th scope="col"> </th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            <tr style="vertical-align: middle; margin-right: 3%;" *ngFor="let list of userFiltredList">
                <td style="text-align-last: center;">
                    <p style="color:black;"><a mat-raised-button color="warn" (click)="openDialog(list.username)">{{list.username}}</a>
                    </p>
                </td>
                <td>
                    <p style="color:black;">a</p>
                </td>
                <td style="text-align-last: center;">
                    <button mat-raised-button class="add_capi" (click)="goToMostraCapi(list.username)">Vedi capi dell'utente</button>
                </td>
                <td style="text-align-last: center;">
                    <button mat-raised-button class="add_capi" (click)="goToAggiungiCapi(list.username)">Aggiungi capi all'utente</button>
                </td>
                <td style="text-align-last: center;">
                    <button class="remove_user" mat-raised-button (click)="deleteUser(list.username)">Rimuovi questo utente</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br><br>