<p>find-user works!</p>

<p style="color: black">Cerca qua l'utente:</p>

<input [(ngModel)]="userSearched"> <button (click)="findUserLike()">CERCA</button>
<br><br>
<div class="found_users">
    <p style="color: black">Utenti trovati:</p>
    <div *ngFor="let list of userFiltredList">
        <button (click)="findCapiSingleUser(list.username)"><p style="color:black;">{{list.username}}</p></button>
    </div>
</div>
<br><br>
<div class="all_users">
    <div *ngFor="let list of userList">
        <button (click)="findCapiSingleUser(list.username)"><p style="color:black;">{{list.username}}</p></button>
    </div>
</div>