<div class="title" style="color: black;">
    <h1>GESTIONE FATTURE</h1>
</div>

<div class="gestione-fatture">

    <div class="first-element-div">
        <div class="gestione-fatture-element"><button mat-stroked-button color="primary" style="font-size:large;">
                <div class="icon-div-first">
                    <span class="material-icons" style="color: black;">
                        description
                    </span>
                </div>
                Nuova fattura
            </button></div>
    </div>

    <div class="second-element-div">
        <div class="gestione-fatture-element"><button mat-stroked-button color="primary" style="font-size:large;">
                <div class="icon-div-first">
                    <span class="material-icons" style="color: black;">
                        folder_open
                    </span>
                </div>
                Apri fattura
            </button></div>
    </div>
    
    <div class="third-element-div">
        <div class="gestione-fatture-element"><button mat-stroked-button color="primary" style="font-size:large;">
                <div class="icon-div-first">
                    <span class="material-icons" style="color: black;">
                        save_alt
                    </span>
                </div>
                Salva fattura
            </button></div>
    </div>

    <div class="fourth-element-div">
        <div class="gestione-fatture-element"><button mat-stroked-button color="primary" style="font-size:large;">
                <div class="icon-div-first">
                    <span class="material-icons" style="color: black;">
                        delete
                    </span>
                </div>
                Cancella fattura
            </button></div>
    </div>

    <div class="fift-element-div">
        <div class="gestione-fatture-element"><button mat-stroked-button color="primary" style="font-size:large;">
                <div class="icon-div-first">
                    <span class="material-icons" style="color: black;">
                        clear
                    </span>
                </div>
                Cancella riga
            </button></div>
    </div>

    <div class="sixth-element-div">
        <div class="gestione-fatture-element"><button mat-stroked-button color="primary" style="font-size:large;">
                <div class="icon-div-first">
                    <span class="material-icons" style="color: black;">
                        preview
                    </span>
                </div>
                Anteprima
            </button></div>
    </div>

    <div class="sixth-element-div">
        <div class="gestione-fatture-element"><button mat-stroked-button color="primary" style="font-size:large;">
                <div class="icon-div-first">
                    <span class="material-icons" style="color: black;">
                        print
                    </span>
                </div>
                Stampa
            </button></div>
    </div>

    <div class="seventh-element-div">
        <div class="gestione-fatture-element"><button mat-stroked-button color="primary" style="font-size:large;">
                <div class="icon-div-first">
                    <span class="material-icons" style="color: black;">
                        door_front
                    </span>
                </div>
                Chiudi
            </button></div>
    </div>
</div>



<!-- <mat-tab-group style="margin-bottom: 30px;">
    <mat-tab label="Nuova fattura"><h1 style="color: black; margin-top: 30px;"></h1></mat-tab>
    <mat-tab label="Apri fattura" > <h1 style="color: black; margin-top: 30px;"></h1></mat-tab>
    <mat-tab label="Salva"><h1 style="color: black; margin-top: 30px;"></h1></mat-tab>
    <mat-tab label="Cancella"><h1 style="color: black; margin-top: 30px;"></h1> </mat-tab>
    <mat-tab label="Anteprima"><h1 style="color: black; margin-top: 30px;"></h1> </mat-tab>
    <mat-tab label="Stampa"><h1 style="color: black; margin-top: 30px;"></h1> </mat-tab>
    <mat-tab label="Chiudi"><h1 style="color: black; margin-top: 30px;"></h1> </mat-tab>
  </mat-tab-group> -->