.mat-tab-label .mat-tab-label-content{
    color: black;
}

.gestione-fatture{
    display: flex;
}

.gestione-fatture-element{
    margin-right: 40px;
    font-size: large;
}

.button-element-first-row{
    font-size:large;
}

a{
    color: black;
}

section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .second-row-gestione-fatture{
      display: flex;
      margin-top: 25px;
  }

  .input-data{
      width: 80px;
  }

  .input-cliente{
    width: 300px;
    }

  .second-row-buttons-p{
    font-size: large; color: #c2185b; text-align-last: center;
  }

  .select-year{
    width: 65px;
  }

  .element-ten-select-div{
    text-align-last: center;
  }