<p style="color:black; text-align-last: center; font-size: x-large;">Ecco i capi di <b>{{singleUser.username}}</b>!</p>

<table class="table table-bordered">
    <thead class="table-bordered">
        <tr style="color: rgba(63, 63, 54, 0.85);">
            <th scope="col"><p>Num. lavorazione</p></th>
            <th scope="col"><p>Prodotto</p></th>
            <th scope="col"><p>Servizio</p></th>
            <th scope="col"><p>Prezzo</p></th>
            <th scope="col"><p>Pronto</p></th>
            <th scope="col"><p>Consegnato</p></th>
            <th scope="col"><p>Note</p></th>

        </tr>
    </thead>
    <tbody>
    <tr>
        <td><p>None</p></td>
        <td><p>None</p></td>
        <td><p>None</p></td>
        <td><p>None</p></td>
        <td><p>None</p></td>
        <td><p>None</p></td>
        <td><p>None</p></td>
    </tr>
</tbody>
</table>