<p style="color:black; text-align-last: center; font-size: x-large">AGGIUNGI CLIENTE ALLA PIATTAFORMA</p>

<div class="container">
    <form method="post" autocomplete="on">
        <!--First name-->
        <div class="box">
            <label for="firstName" class="fl fontLabel"> Nome: </label>
            <div class="new iconBox">
                <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <div class="fr">
                <input type="text" name="firstName" placeholder="Nome" class="textBox" autofocus="on" [(ngModel)]="username" required>
            </div>
            <div class="clr"></div>
        </div>
        <!--First name-->


        <!--Second name-->
        <div class="box">
            <label for="secondName" class="fl fontLabel"> Cognome: </label>
            <div class="fl iconBox"><i class="fa fa-user" aria-hidden="true"></i></div>
            <div class="fr">
                <input type="text" required name="secondName" placeholder="Cognome" class="textBox" [(ngModel)]="surname">
            </div>
            <div class="clr"></div>
        </div>
        <!--Second name-->

        <div class="box">
            <label for="indirizzo" class="fl fontLabel"> Indirizzo: </label>
            <div class="fl iconBox"><i class="fa fa-user" aria-hidden="true"></i></div>
            <div class="fr">
                <input type="text" required name="indirizzo" placeholder="indirizzo" class="textBox" [(ngModel)]="indirizzo">
            </div>
            <div class="clr"></div>
        </div>


        <div class="box">
            <label for="codiceFiscale" class="fl fontLabel"> Codice fiscale: </label>
            <div class="fl iconBox"><i class="fa fa-user" aria-hidden="true"></i></div>
            <div class="fr">
                <input type="text" required name="codiceFiscale" placeholder="Codice fiscale" class="textBox" [(ngModel)]="codiceFiscale">
            </div>
            <div class="clr"></div>
        </div>

        <div class="box">
            <label for="presentatoDa" class="fl fontLabel"> presentato da: </label>
            <div class="fl iconBox"><i class="fa fa-user" aria-hidden="true"></i></div>
            <div class="fr">
                <input type="text" required name="presentatoDa" placeholder="presentato da:" class="textBox" [(ngModel)]="presentatoDa">
            </div>
            <div class="clr"></div>
        </div>

        <div class="box">
            <label for="Cap" class="fl fontLabel"> Cap: </label>
            <div class="fl iconBox"><i class="fa fa-user" aria-hidden="true"></i></div>
            <div class="fr">
                <input type="text" required name="presentatoDa" placeholder="Cap" class="textBox" [(ngModel)]="cap">
            </div>
            <div class="clr"></div>
        </div>

        <div class="box">
            <label for="Cap" class="fl fontLabel"> Città: </label>
            <div class="fl iconBox"><i class="fa fa-user" aria-hidden="true"></i></div>
            <div class="fr">
                <input type="text" required name="Citta" placeholder="Città di residenza" class="textBox" [(ngModel)]="citta">
            </div>
            <div class="clr"></div>
        </div>

        <div class="box">
            <label for="provincia" class="fl fontLabel"> Provincia: </label>
            <div class="fl iconBox"><i class="fa fa-user" aria-hidden="true"></i></div>
            <div class="fr">
                <input type="text" required name="indirizzo" placeholder="Provincia di residenza" class="textBox" [(ngModel)]="provincia">
            </div>
            <div class="clr"></div>
        </div>

        <div class="box">
            <label for="regioneSociale" class="fl fontLabel"> Regione: </label>
            <div class="fl iconBox"><i class="fa fa-user" aria-hidden="true"></i></div>
            <div class="fr">
                <input type="text" required name="regioneSociale" placeholder="Regione" class="textBox" [(ngModel)]="regioneSociale">
            </div>
            <div class="clr"></div>
        </div>


        <!---Phone No.------>
        <div class="box">
            <label for="phone" class="fl fontLabel"> Telefono: </label>
            <div class="fl iconBox"><i class="fa fa-phone-square" aria-hidden="true"></i></div>
            <div class="fr">
                <input type="text" required name="phoneNo" maxlength="10" placeholder="Numero" class="textBox" [(ngModel)]="phone">
            </div>
            <div class="clr"></div>
        </div>
        <!---Phone No.---->

        <!---Email ID---->
        <div class="box">
            <label for="email" class="fl fontLabel"> Email: </label>
            <div class="fl iconBox"><i class="fa fa-envelope" aria-hidden="true"></i></div>
            <div class="fr">
                <input type="email" required name="email" placeholder="Email" class="textBox" [(ngModel)]="email">
            </div>
            <div class="clr"></div>
        </div>
        <!--Email ID----->

        <div class="box">
            <label for="numeroCard" class="fl fontLabel">Numero card: </label>
            <div class="fl iconBox"><i class="fa fa-user" aria-hidden="true"></i></div>
            <div class="fr">
                <input type="text" required name="regioneSociale" placeholder="Numero card" class="textBox" [(ngModel)]="numeroCard">
            </div>
            <div class="clr"></div>
        </div>

        <div class="box">
            <label for="scontoCard" class="fl fontLabel"> Sconto card: </label>
            <div class="fl iconBox"><i class="fa fa-user" aria-hidden="true"></i></div>
            <div class="fr">
                <input type="text" required name="regioneSociale" placeholder="scontoCard" class="textBox" [(ngModel)]="scontoCard">
            </div>
            <div class="clr"></div>
        </div>

        <!---Gender----->
        <div class="box radio">
            <label for="gender" class="fl fontLabel"> Sesso: </label>
            <input type="radio" name="Gender" value="Maschio" required [(ngModel)]="sesso"> M &nbsp; &nbsp; &nbsp; &nbsp;
            <input type="radio" name="Gender" value="Femmina" required [(ngModel)]="sesso"> F
        </div>
        <!---Gender--->

        <!---Submit Button------>
        <div class="box" style="background: #2d3e3f">
            <input type="Submit" name="Submit" class="submit" value="Aggiungi l'utente" (click)="submitUser()">
        </div>
        <!---Submit Button----->
    </form>
</div>