<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Menù
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" style="width: fit-content;">

    <h4 class="name">User</h4>

    <mat-divider></mat-divider>

    <!-- <button mat-button class="menu-button" routerLink="/consegna-capi" *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()">
      <span class="material-icons">
        checkroom
      </span>
      <span> Consegna capi</span>
    </button> -->
    <button mat-button class="menu-button" routerLink="/statistiche" *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()">
      <span class="material-icons">
        trending_up
      </span>
      <span> Statistiche</span>
    </button>
    <button mat-button class="menu-button" routerLink="/get-all-capi" *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()">
    <span class="material-icons">
      business_center
    </span>
    <span> Vedi tutti gli articoli</span>
  </button>
    <button mat-button class="menu-button" routerLink="/fatture" *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()">
      <span class="material-icons">
        paid
      </span>
      <span> Fatture</span>
    </button>
    <button mat-button class="menu-button" routerLink="/find-user" *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()">
      <mat-icon>person</mat-icon>
      <span> Visualizza utenti</span>
    </button>
    <button mat-button class="menu-button" routerLink="/add-user" *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()">
    <mat-icon>add</mat-icon>
    <span> Aggiungi utente</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/help">
      <span class="material-icons">
        logout
      </span>
      <span> Logout</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>