h1{
    margin: 10px;
}

.button_dialog{
    place-content: center;
}

.button_close{
    background-color:#647c7c;
}

.button_open{
    background-color:green;
}

input{
    background-color: transparent;
    border: none;
    color: white;
    width: 75%;
}