.product {
  width: 20%;
  margin-right: 2%;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  text-align-last: center;
  margin-top: 2%;
}

.p-style-side-choice{
    color: black;
}

.container-right-dress-result{
  display: flex;
}

.product:hover{
  background-color:#d1cbcb;
}

.little_icon {
  width: 130px;
  height: 130px;
}

.container_vestiti {
  width: 50%;
}

.flex-right-menu-dress {
  display: flex;
}

.stringArray{
  margin-right: 2%;
  text-align: right;
}

.mat-list-single-selected-option, .mat-list-single-selected-option:hover, .mat-list-single-selected-option:focus{
  background: rgb(0 0 0 / 12%);
}

.string-list{
  flex: auto;
  text-align-last: center;
}

.mat-form-field.mat-focused,.mat-form-field-label{
  color: black
}

.orario{
  margin-top: 20px;
}

@media all and (max-width: 500px){
  .product {
    width: 100%;
    margin-right: 2%;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    text-align-last: center;
    margin-top: 2%;
  }

  .mat-list-text{
    font-size: x-small;
  }

  .p-style-side-choice{
    font-size: x-small;
  }
}