<div class="container">
  <p style="color:black; font-size: larger;">Aggiungi dei capi all'utente: <b>{{singleUser.username}}</b></p>
</div>

<div class="orario">
  <mat-form-field style="border-style: ridge;
  border-color: black; border-width: thin;" appearance="fill" class="example-form-field">
    <mat-label style="color: black">Scrivi o scegli una data</mat-label>
    <input matInput [matDatepicker]="datepicker" (dateInput)="onDateChange($event.value)" style="color: black">
    <mat-datepicker-toggle matSuffix [for]="datepicker" style="color: black"></mat-datepicker-toggle>
    <mat-datepicker #datepicker>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Annulla</button>
        <button mat-raised-button color="basic" matDatepickerApply>Scegli questa data</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>
</div>

<br><br>

<div class="flex-right-menu-dress">
  <mat-selection-list style="margin-right: 1%;" #shoes [multiple]="false">
    <mat-list-option (click)="selectFromList(choice.value)" *ngFor="let choice of principal_array"
      [value]="choice.value">
      <p style="color:black;">{{choice.name}}</p>
    </mat-list-option>
  </mat-selection-list>

  <br><br>
  <div class="container_vestiti">
    <div *ngIf="choiceMenuList == 1">
      <div (click)="insertPantaloni(dress.value, dress)" class="product" *ngFor="let dress of pantaloni_array">
        <img class="little_icon" [src]="dress.icon" />
        <p style="color:black;"><b>{{dress.name}}</b></p>
      </div>
      
    </div>

    <div *ngIf="choiceMenuList == 2">
      <div (click)="insertGonne(dress.value, dress)" class="product" *ngFor="let dress of gonne_array">
        <img class="little_icon" [src]="dress.icon" />
        <p style="color:black;"><b>{{dress.name}}</b></p>
      </div>
    </div>

    <div *ngIf="choiceMenuList == 3">
      <div (click)="insertCamicie(dress.value, dress)" class="product" *ngFor="let dress of camicie_array">
        <img class="little_icon" [src]="dress.icon" />
        <p style="color:black;"><b>{{dress.name}}</b></p>
      </div>
    </div>

    <div *ngIf="choiceMenuList == 4">
      <div (click)="insertCappelli(dress.value, dress)" class="product" *ngFor="let dress of cappelli_array">
        <img class="little_icon" [src]="dress.icon" />
        <p style="color:black;"><b>{{dress.name}}</b></p>
      </div>
    </div>

    <div *ngIf="choiceMenuList == 5">
      <div (click)="insertAbiti(dress.value, dress)" class="product" *ngFor="let dress of abiti_array">
        <img class="little_icon" [src]="dress.icon" />
        <p style="color:black;"><b>{{dress.name}}</b></p>
      </div>
    </div>

    <div *ngIf="choiceMenuList == 6">
      <div (click)="insertGiaccheEGiacconi(dress.value, dress)" class="product" *ngFor="let dress of giaccheEGiaccone_array">
        <img class="little_icon" [src]="dress.icon" />
        <p style="color:black;"><b>{{dress.name}}</b></p>
      </div>
    </div>

    <div *ngIf="choiceMenuList == 7">
      <div (click)="insertTrapunteEPiumoni(dress.value, dress)" class="product" *ngFor="let dress of trapunteEPiumoni_array">
        <img class="little_icon" [src]="dress.icon" />
        <p style="color:black;"><b>{{dress.name}}</b></p>
      </div>
    </div>

    <div *ngIf="choiceMenuList == 8">
      <div (click)="insertMaglie(dress.value, dress)" class="product" *ngFor="let dress of maglie_array">
        <img class="little_icon" [src]="dress.icon" />
        <p style="color:black;"><b>{{dress.name}}</b></p>
      </div>
    </div>

    <div *ngIf="choiceMenuList == 9">
      <div (click)="insertPigiami(dress.value, dress)" class="product" *ngFor="let dress of pigiami_array">
        <img class="little_icon" [src]="dress.icon" />
        <p style="color:black;"><b>{{dress.name}}</b></p>
      </div>
    </div>

    <div *ngIf="choiceMenuList == 10">
      <div (click)="insertScarpe(dress.value, dress)" class="product" *ngFor="let dress of scarpe_array">
        <img class="little_icon" [src]="dress.icon" />
        <p style="color:black;"><b>{{dress.name}}</b></p>
      </div>
    </div>

    <div *ngIf="choiceMenuList == 11">
      <div (click)="insertTappeti(dress.value, dress)" class="product" *ngFor="let dress of tappeti_array">
        <img class="little_icon" [src]="dress.icon" />
        <p style="color:black;"><b>{{dress.name}}</b></p>
      </div>
    </div>

    <div *ngIf="choiceMenuList == 12">
      <div (click)="insertTende(dress.value, dress)" class="product" *ngFor="let dress of tende_array">
        <img class="little_icon" [src]="dress.icon" />
        <p style="color:black;"><b>{{dress.name}}</b></p>
      </div>
    </div>

    <div *ngIf="choiceMenuList == 13">
      <div (click)="insertVarie(dress.value, dress)" class="product" *ngFor="let dress of arrayProvvisorio">
        <img class="little_icon" [src]="dress.icon" />
        <p style="color:black;"><b>{{dress.name}}</b></p>
      </div>
    </div>
    <br><br>

    <mat-paginator [length]="varie_array.length"
              [pageSize]="16"
              (page)="onPageChange($event)"
              [pageSizeOptions]="[16]"
              aria-label="Select page">
    </mat-paginator>

    <br><br>
    <button *ngIf="choiceMenuList>0 && choiceMenuList<14" mat-raised-button color="basic"
      (click)="insertIntoUser()">Invia</button>
  </div>


</div>

<div class="stringArray" *ngFor="let string of selectedItems; index as i">
  <p style="color:black;">{{string.name}}</p>
</div>