<div class="container">
  <p style="color:black; font-size: larger;">Aggiungi dei capi all'utente: <b>{{singleUser!.username}}</b></p>
</div>

<div class="orario">
  <mat-form-field style="border-style: ridge;
  border-color: black; border-width: thin;" appearance="fill" class="example-form-field">
    <mat-label style="color: black">Scrivi o scegli una data</mat-label>
    <input matInput [matDatepicker]="datepicker" (dateInput)="onDateChange($event.value)" style="color: black">
    <mat-datepicker-toggle matSuffix [for]="datepicker" style="color: black"></mat-datepicker-toggle>
    <mat-datepicker #datepicker>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Annulla</button>
        <button mat-raised-button color="basic" matDatepickerApply>Scegli questa data</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>
</div>

<br><br>



<div class="flex-right-menu-dress">
  <mat-selection-list style="margin-right: 1%;" #shoes [multiple]="false">
    <mat-list-option (click)="selectCategory(choice.id)" *ngFor="let choice of categories"
      [value]="choice.id">
      <p style="color:black;">{{choice.nome}}</p>
    </mat-list-option>
  </mat-selection-list>

  <!-- .slice(pageIndex * pageSize, pageIndex * pageSize + pageSize)" -->

  <br><br>
  <div class="container_vestiti">
    <div>
      <div class="product" (click)="selectSubCategory(dress)" *ngFor="let dress of subCategories[selectedCategory].slice(pageIndex * pageSize, pageIndex * pageSize + pageSize)">
        <img class="little_icon" />
        <p style="color:black;"><b>{{dress.descrizione}}</b></p>
      </div>
    </div>
    <br>
    <br>
    <mat-paginator [length]="propertyStringArray.length" [pageSize]="15" [pageIndex]="pageIndex" (page)="onPageChange($event)" [pageSizeOptions]="[15]"
    aria-label="Select page">
  </mat-paginator>
  <br><br>

    <button *ngIf="disabledButton" mat-raised-button color="basic"
      (click)="insertIntoUser()" printTitle="Ricevuta" printSectionId="print-section" ngxPrint>Invia</button>

      <button style="pointer-events: none; opacity: 65%;" *ngIf="!disabledButton" mat-raised-button color="basic"
      >Invia</button>

    </div>
    <div class="string-list">
      <div class="stringArray" *ngFor="let string of selectedSubCategoriesList| keyvalue">
        <p style="color:black;">{{string.key}} x {{string.value}} </p>
      </div>
    </div>
  </div>



  <div style="display:none;">
  <div id="print-section">
    <!--Your html stuff that you want to print-->
    <div class="string-list">
      <p style="color:black ;">MA.CRI SRLS</p>
      <p style="color:black ;">PIAZZA CAVOUR 61</p>
      <p style="color:black ;">RIETI</p>
      -------------------------------------------------------------------------------------------------
      <p style="color:black ;"><b>LAVORAZIONE:</b> *{{capiToAdd.nLavorazione}}*</p>
      -------------------------------------------------------------------------------------------------
      <p style="color:black ;">Data consegna: {{capiToAdd.date}}</p>
      -------------------------------------------------------------------------------------------------
      <p style="color:black ;">PACIFICI FRANCESCA</p>
      <br>
      <br>
      <br>
      -------------------------------------------------------------------------------------------------
      <p style="color:black;" *ngFor="let string of selectedSubCategoriesList| keyvalue">- {{string.key}} x {{string.value}}</p>
      -------------------------------------------------------------------------------------------------
      <p style="color:black;">Totale capi: {{this.dixSubCategoryLenght}}</p>
      -------------------------------------------------------------------------------------------------
      <p style="color:black;">Totale 0,00</p>
      <p style="color:black;">Pagato 0,00</p>
      <br>
      <br>
      <p style="color:black;">ATTENZIONE! Non rispondiamo della rottura di cerniere, fibbie, bottoni, ricami, pailettes, accessori cuciti/incollati, tessuti usurati. Dopo 90 giorni dalla data di riconsegna previsa addebiteremo spese di reposito e non saremo più responsabili.</p>
    </div>
  </div>
</div>